<%- include('partial/header') %>
<div style="height: 10vh;">

</div>
<section class="container d-flex justify-content-center align-items-center flex-column min-vh-100">
   
</section>
</div>


</div>
   

<%- include('partial/footer') %>
     

   