<%- include('layout/navbar') %>
<%- include('layout/header') %>
    <div class="container mt-4">
        <h2 class="text-primary">For Students</h2>
        <h3 class="text-secondary">Register</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">First register on the site and post tuition needs for free.</li>
            <li class="list-group-item">You can register as a free member or a premium member. Free members can see the tutors and their city only. Premium members can see the contact numbers of tutors immediately.</li>
            <li class="list-group-item">Can find tutors immediately for contacting.</li>
        </ul>
        
        <h3 class="text-secondary">Search for Tutor</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">After registering and confirming your email, you can search for tutors available on the site and can select the tutor according to needs.</li>
            <li class="list-group-item">Premium members can contact the tutor immediately and ask for a demo session. If you like the demo session, then you can negotiate the price with tutors and can continue/arrange the tuition.</li>
            <li class="list-group-item">It is your responsibility to validate all details, terms & conditions, and price before you agree to the tuition.</li>
        </ul>
        
        <h3 class="text-secondary">Premium Membership</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">For premium membership, students can click on premium or view contact (get free demo). After payment, you will get 3 leads. Students can use these leads to view the contact of teachers.</li>
        </ul>
        
        <h3 class="text-secondary">Excel in Studies</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">You can monitor the tuition at your home regularly and give us feedback on the tutor on WhatsApp (8075667844).</li>
            <li class="list-group-item">By your premium, we can select the best teachers for all students.</li>
        </ul>
        
        <h2 class="text-primary">For Teachers</h2>
        <h3 class="text-secondary">Register</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">First register on our site and share all details like class, subjects, hourly price, area, city, etc.</li>
            <li class="list-group-item">You have to upload your Pan Card and Aadhar ID on the site, without these documents, we will not accept you as a tutor.</li>
            <li class="list-group-item">After submitting documents, you can log in to see tuition leads.</li>
        </ul>
        
        <h3 class="text-secondary">Now you search for tuitions</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">After log-in, you can see the tuition leads all over India. By using filters, you can search tuitions near your location.</li>
            <li class="list-group-item">Tutors can also see tuition of nearby areas in profile.</li>
        </ul>
        
        <h3 class="text-secondary">Premium Membership</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">To view contact details of students/teachers, tutors must buy our premium membership. After payment, tutors will get 10 leads to view 10 contact numbers. Viewing one contact lead will reduce by one.</li>
        </ul>
        
        <h3 class="text-secondary">Make Future</h3>
        <ul class="list-group mb-3">
            <li class="list-group-item">After viewing contact, the teacher/tutor can contact the student/parents and ask for demo sessions.</li>
            <li class="list-group-item">During the demo session, give your best and continue with the same temperament.</li>
            <li class="list-group-item">Tutors must discuss all the credentials with the student. If they agree, then continue.</li>
            <li class="list-group-item">Tutors are future builders of India, so do your work with full dedication.</li>
        </ul>
    </div>
 
<%- include('layout/footer') %>