<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="/">
                    
                    <img src="/user/images/logo.jpg" style="height:100px; border-radius:50px;" alt="logo">
                   

                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="/" class="site-footer-link text-decoration-none">Home</a>
                    </li>

                    <li class="site-footer-link-item"><a  href="/terms&condition" class="site-footer-link text-decoration-none">Terms and conditions</a></li>
                    <li class="site-footer-link-item"><a  href="/privacypolicy" class="site-footer-link text-decoration-none">Privacy Policy</a></li>
                    <li class="site-footer-link-item"><a  href="/listingoftutor" class="site-footer-link text-decoration-none">I Need A Tutor</a></li>
                    <li class="site-footer-link-item"><a  href="/listingofstudent" class="site-footer-link text-decoration-none">I Need A Tution</a></li>



                    
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">📍 Tutors in Cities</h6>
            
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Delhi" class="site-footer-link text-decoration-none">Delhi</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Noida" class="site-footer-link text-decoration-none">Noida</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Gurugram" class="site-footer-link text-decoration-none">Gurugram</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Faridabad" class="site-footer-link text-decoration-none">Faridabad</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Ghaziabad" class="site-footer-link text-decoration-none">Ghaziabad</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Lucknow" class="site-footer-link text-decoration-none">Lucknow</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Mumbai" class="site-footer-link text-decoration-none">Mumbai</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Pune" class="site-footer-link text-decoration-none">Pune</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Kolkata" class="site-footer-link text-decoration-none">Kolkata</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/search?state=Bangalore" class="site-footer-link text-decoration-none">Bangalore</a>
                </p>
            </div>
            


            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">📢 Information</h6>
            
                <!-- Phone -->
                <p class="text-white d-flex mb-1">
                    <a href="tel:+918078667844" class="site-footer-link d-flex align-items-center text-decoration-none">
                        📞  8078667844
                    </a>
                </p>
            
                <!-- Email -->
                <p class="text-white d-flex">
                    <a href="mailto:besthometutor7@gmail.com" class="site-footer-link d-flex align-items-center text-decoration-none">
                        ✉️  besthometutor7@gmail.com
                    </a>
                </p>
            
                <!-- WhatsApp -->
                <p class="text-white d-flex align-items-center">
                    <a href="https://wa.me/918078667844" target="_blank" class="site-footer-link d-flex align-items-center text-decoration-none">
                        💬  Chat on WhatsApp
                    </a>
                </p>
            </div>
            
            

            

        </div>
    </div>
    
</footer>
<div class="text-center p-3" style="background-color: #437eff">
    © 2025 Copyright:
    <a class="text-white" href="https://digitalstart.in/"
      >DigitalStart</a
    >
  </div>
    
  <!-- End of .container -->


  <!-- JAVASCRIPT FILES -->
  <script src="/user/js/jquery.min.js"></script>
  <script src="/user/js/bootstrap.bundle.min.js"></script>
  <script src="/user/js/jquery.sticky.js"></script>
  <script src="/user/js/click-scroll.js"></script>
  <script src="/user/js/custom.js"></script>

 </body>
</html>