<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title><%= title %></title>
        <link rel="icon" type="images/x-icon" href="/user/images/logo.jpg">
        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="/user/css/bootstrap.min.css" rel="stylesheet">

        <link href="/user/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/user/css/templatemo-topic-listing.css" rel="stylesheet">
<!--

TemplateMo 590 topic listing



-->
    </head>
    
    <body class="topics-listing-page" id="top">

        <main>

           
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" style="border:none" href="/">
                        <img src="/user/images/logo.jpg" style="height:100px; border-radius:50px;" alt="logo">
                    </a>
            
                    <!-- Mobile Profile Icon -->
                    <div class="d-lg-none ms-auto me-4">
                        <% if (userId && userId !== "null" && userId !== "undefined") { %>
                            <a href="/myprofile" class="navbar-icon bi-person smoothscroll"></a>
                        <% } else { %>
                            <a href="/login" class="navbar-icon bi-person smoothscroll"></a>
                        <% } %>
                    </div>
            
                    <!-- Navbar Toggler -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- Navbar Links -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/#section_1">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/howitworks">How it works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/#section_3">Review</a>
                            </li>
                
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/#section_4">FAQs</a>
                            </li>
                            <% if (userId && userId !== "null" && userId !== "undefined" ) { %>
                                <% if (userId.role === "tutor") { %>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/listingofstudent?page=1"> Matched Tution</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/allstudents">All Tution</a>
                                    </li>
                                <% } else  { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/listingoftutor?page=1">Match TUTOR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/alltutors">All Tutor</a>
                            </li>
                                <% } %>
                            <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/listingoftutor?page=1">I NEED A TUTOR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/listingofstudent"> TUITION</a>
                            </li>
                            <% } %>
            
                            <!-- Dropdown Menu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/register">Signup</a></li>
                                    <li><a class="dropdown-item" href="/terms&condition">Terms & <br> Conditions</a></li>
                                    <li><a class="dropdown-item" href="/privacypolicy">Privacy Policy</a></li>
                                    <li><a class="dropdown-item" href="/primum">Pricing</a></li>

            
                                    <% if (userId && userId !== "null" && userId !== "undefined") { %>
                                        <li class="dropdown-item d-lg-none">
                                            <a class="btn btn-danger" href="/auth/logout">Logout</a>
                                        </li>
                                    <% } else { %>
                                        <li class="dropdown-item d-lg-none">
                                            <a class="btn" style="color: rgb(0, 0, 0); background-color: #ffc107;" href="/login">Login</a>
                                        </li>
                                        <li class="dropdown-item d-lg-none">
                                            <a class="btn" style="color: rgb(0, 0, 0); background-color: #55ff07;" href="/register">Register</a>
                                        </li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
            
                        <!-- Desktop View: Profile and Auth Buttons -->
                        <ul class="navbar-nav">
                            <% if (userId && userId !== "null" && userId !== "undefined") { %>
                                <li class="nav-item d-none d-lg-block">
                                    <a href="/myprofile" class="navbar-icon bi-person smoothscroll"></a>
                                </li>
                                <li class="nav-item d-none d-lg-block">
                                    <a class="btn btn-danger ms-2" href="/auth/logout">Logout</a>
                                </li>
                            <% } else { %>
                                <li class="nav-item d-none d-lg-block">
                                    <a href="/login" class="navbar-icon bi-person smoothscroll"></a>
                                </li>
                                <li class="nav-item d-none d-lg-block">
                                    <a class="btn ms-2" style="color: rgb(0, 0, 0); background-color: #ffc107;" href="/login">Login</a>
                                </li>
                                <li class="nav-item d-none d-lg-block">
                                    <a class="btn ms-2" style="color: rgb(0, 0, 0); background-color: #55ff07;" href="/register">Register</a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
            
