<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
  <link rel="icon" type="images/x-icon" href="/user/images/logo.jpg">
  
  <link rel="stylesheet" href="/Admin/assets/css/styles.min.css" />
</head>

<body style=" background-image: url(/Admin/background.jpg); background-position: center; background-size: cover;   background-repeat: no-repeat; backdrop-filter: blur(6px ); background-attachment: fixed; height: 100%; ">

    <div class="page-wrapper" style="height: 100%;   background-color: transparent;" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar " style="background-color: rgb(2, 18, 39); border: none; height: 100%;  ">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/admin/dashboard" class="text-nowrap logo-img">
            <img src="/user/images/logo.jpg" style="height:40px; border-radius:20px" alt="logo">
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar " data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6 text-white"></i>
              <span class="hide-menu text-white">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu text-white">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu text-white">User</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/documentVerification" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu text-white">New Tutor Request</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/alltutorrequirment" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><g fill="currentColor"><path d="M17 31v-2h2v2z"/><path fill-rule="evenodd" d="M20 4a3 3 0 0 0-3 3h-4a3 3 0 0 0-3 3v31a3 3 0 0 0 3 3h22a3 3 0 0 0 3-3V10a3 3 0 0 0-3-3h-4a3 3 0 0 0-3-3zm-1 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1zm-3 13a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm-1-4a1 1 0 0 1 1-1h15.5a1 1 0 1 1 0 2H16a1 1 0 0 1-1-1m0 12a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm13 4a3 3 0 1 0 0-6a3 3 0 1 0 0 6m-6 4.5c0-2.116 3.997-3.182 6-3.182s6 1.066 6 3.182V39H22z" clip-rule="evenodd"/></g></svg>
                           </span>
                <span class="hide-menu text-white">List Of Verified Tutors</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/listOfStudents" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M23.509 7.23c-1.302-.026-2.381 1.13-2.41 2.58c-.029 1.452 1.002 2.65 2.303 2.676c1.302.028 2.382-1.127 2.412-2.58c.029-1.451-1.003-2.65-2.305-2.675m6.99 3.397a2.2 2.2 0 0 0-.635.08c-1.338.356-2.464 1.227-3.801 2.53c-1.238 1.208-2.576 1.972-3.226 1.443c-1.996-1.624-4.53-4.154-5.758-3.671c-.872.344-.74 1.23-.022 2.152c.985 1.234 3.747 3.32 3.588 4.527c-.25 1.91-1.266 2.87-2.264 4.114c-.452.564-.557 1.142-.443 1.601c-.876.723-1.769 1.516-2.584 2.178c-.743.604-2.275-.27-3.69-1.647c-1.529-1.489-2.816-2.483-4.345-2.89c-2.173-.576-2.475 1.655-.495 3.09c1.413 1.026 2.991 1.187 4.038 2.816c.766 1.192.358 2.77-.406 3.887c-1.2 1.756-2.69 2.88-3.212 5.18c-.28 1.235.778 1.733 2.204 1.298c1.642-.502 2.348-2.584 4.8-5.312c.247-.274.664-.3.947.034L18.46 35.9c.448.508.928.7 1.35.673c-.242.297-.494.592-.747.905c-1.34 1.67.375 3.463 1.738 1.916l2.856-3.384c.246-.292.613-.268.828-.028c2.144 2.389 2.763 4.213 4.198 4.652c1.248.382 2.174-.056 1.928-1.139c-.392-1.733-1.413-2.706-2.36-3.924c.407.007.864-.19 1.29-.673l3.264-3.863c.282-.334.702-.308.949-.034c2.452 2.728 3.158 4.81 4.799 5.312c1.427.436 2.486-.063 2.205-1.298c-.522-2.3-2.012-3.427-3.213-5.182c-.764-1.116-1.172-2.694-.406-3.885c1.047-1.63 2.624-1.79 4.036-2.815c1.98-1.436 1.68-3.667-.493-3.09c-1.528.406-2.818 1.4-4.347 2.889c-1.415 1.377-2.945 2.251-3.688 1.647c-1.227-.997-2.74-2.156-3.887-3.19c-.645-.58-1.11-1.331-1.641-2.106c-.668-.977-1.025-2.36-.355-3.404c.915-1.426 2.296-1.566 3.532-2.464c1.515-1.1 1.503-2.736.203-2.789zm2.917 5.446c-1.489-.03-2.721 1.29-2.755 2.946s1.146 3.025 2.635 3.055s2.72-1.29 2.755-2.947c.033-1.657-1.146-3.025-2.635-3.055zm-18.833 1.002c-1.488.03-2.668 1.397-2.634 3.055c.033 1.658 1.268 2.976 2.757 2.946c1.488-.03 2.668-1.398 2.634-3.055s-1.267-2.978-2.757-2.946m8.82 3.045c.154 0 .3.068.402.185c2.144 2.39 2.76 4.213 4.196 4.652c.383.118 1.474 1.49 1.656 1.752c-.974.453-1.882 1.2-2.914 2.205c-1.238 1.206-2.576 1.973-3.226 1.444c-1.456-1.185-3.197-2.847-4.509-3.476c.972-1.083 2.301-2.222 2.953-3.037c.788-1.012.956-1.983.08-2.406l.933-1.104a.56.56 0 0 1 .427-.216zm.788 2.786c-1.302-.026-2.382 1.13-2.41 2.582s1.003 2.647 2.304 2.676c1.301.025 2.38-1.13 2.41-2.581c.028-1.452-1.002-2.65-2.304-2.676zm-6.336 6.07c1.067 1.246 3.625 3.226 3.472 4.388a5.4 5.4 0 0 1-.368 1.388a2.5 2.5 0 0 0-.512-1.04c-1.142-1.42-2.303-2.519-2.59-4.7l-.002-.037zm11.749.893c-.513 1.083-1.287 1.89-2.05 2.84q-.279.35-.41.694c-.12-.637-.055-1.29.303-1.847c.583-.91 1.354-1.295 2.157-1.687" stroke-width="1"/></svg>
                </span>
                <span class="hide-menu text-white">Registerd Students</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/allstudentrequirment" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3.586 2.586C3 3.172 3 4.114 3 6v10c0 2.828 0 4.243.879 5.121c.641.642 1.568.815 3.121.862V19a1 1 0 1 1 2 0v3h6v-3a1 1 0 1 1 2 0v2.983c1.553-.047 2.48-.22 3.121-.862C21 20.243 21 18.828 21 16V6c0-1.886 0-2.828-.586-3.414S18.886 2 17 2H7c-1.886 0-2.828 0-3.414.586M8 8a1 1 0 0 0 0 2h8a1 1 0 1 0 0-2zm0 6h8a1 1 0 1 0 0-2H8a1 1 0 1 0 0 2" clip-rule="evenodd"/></svg>               
                   <span class="hide-menu text-white">Student Requirement</span>
              </a>
            </li>
           
           
            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6" class="fs-6"></iconify-icon>
              <span class="hide-menu text-white">Payments History</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/payments" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13.5 12.423q-.846 0-1.423-.577t-.577-1.423T12.077 9t1.423-.577T14.923 9t.577 1.423t-.577 1.423t-1.423.577m-6.192 3.193q-.667 0-1.141-.475q-.475-.475-.475-1.141V6.846q0-.666.475-1.14t1.14-.475h12.385q.667 0 1.141.474t.475 1.141V14q0 .666-.475 1.14q-.474.476-1.14.476zm1-1h10.384q0-.672.475-1.144q.474-.472 1.14-.472V7.846q-.67 0-1.142-.474q-.473-.475-.473-1.141H8.308q0 .671-.475 1.143q-.474.472-1.14.472V13q.67 0 1.143.475q.472.474.472 1.14m10.038 4H4.308q-.667 0-1.141-.474q-.475-.475-.475-1.141V8.192h1V17q0 .23.192.423q.193.193.424.193h14.038zm-11.038-4h-.616V6.232h.616q-.25 0-.433.183t-.183.432V14q0 .25.183.433t.433.183"/></svg>
                </span>
                <span class="hide-menu text-white">List Of Payments</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/getprimium" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3.5 5A2.5 2.5 0 0 1 6 2.5h10A2.5 2.5 0 0 1 18.5 5v5.5a.5.5 0 0 1-1 0V5A1.5 1.5 0 0 0 16 3.5H6A1.5 1.5 0 0 0 4.5 5v14A1.5 1.5 0 0 0 6 20.5h7a.5.5 0 0 1 0 1H6A2.5 2.5 0 0 1 3.5 19z"/><path fill="currentColor" d="M18 13.5a.5.5 0 0 1 .5.5v.667h.169c.95 0 1.831.684 1.831 1.666a.5.5 0 1 1-1 0c0-.31-.306-.666-.831-.666h-1.506c-.43 0-.663.293-.663.516c0 .213.052.285.083.318c.046.049.139.106.35.169l2.417.701c.263.078.565.198.796.444c.247.263.354.604.354 1.002c0 .898-.811 1.516-1.663 1.516H18.5V21a.5.5 0 0 1-1 0v-.667h-.169c-.95 0-1.831-.684-1.831-1.666a.5.5 0 1 1 1 0c0 .31.306.666.831.666h1.506c.43 0 .663-.293.663-.516c0-.213-.052-.285-.083-.318c-.046-.049-.139-.106-.35-.169l-2.417-.701c-.263-.078-.565-.198-.796-.444c-.247-.263-.354-.604-.354-1.002c0-.898.811-1.516 1.663-1.516h.337V14a.5.5 0 0 1 .5-.5M6.5 11a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 0 1H7a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-3 3a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 0 1H7a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h3.5a.5.5 0 0 1 0 1H10a.5.5 0 0 1-.5-.5m-3 3a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 0 1H7a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5M6.784 4.5h8.432c.126 0 .249 0 .353.008c.114.01.25.032.385.101a1 1 0 0 1 .437.437c.07.136.091.27.1.385c.009.104.009.227.009.353v1.432c0 .126 0 .249-.009.353a1 1 0 0 1-.1.385a1 1 0 0 1-.437.437a1 1 0 0 1-.385.1a5 5 0 0 1-.353.009H6.784c-.126 0-.249 0-.353-.008a1 1 0 0 1-.385-.101a1 1 0 0 1-.437-.437a1 1 0 0 1-.1-.385a5 5 0 0 1-.009-.353V5.784c0-.126 0-.249.008-.353c.01-.114.032-.25.101-.385a1 1 0 0 1 .437-.437a1 1 0 0 1 .385-.1a5 5 0 0 1 .353-.009m-.278 1.006v.006c-.006.059-.006.14-.006.288v1.4a4 4 0 0 0 .006.294h.006c.059.006.14.006.288.006h8.4c.148 0 .23 0 .288-.005h.006v-.007A4 4 0 0 0 15.5 7.2V5.8a4 4 0 0 0-.006-.294h-.006A4 4 0 0 0 15.2 5.5H6.8a4 4 0 0 0-.294.006"/></svg>
                </span>
                <span class="hide-menu text-white">Purchase Plans</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/marquee" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50"><path fill="none" stroke="#c6fe30" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M41.667 17.167L15.083 43.75H6.25v-8.833L32.833 8.333a6.25 6.25 0 0 1 8.834 0v0a6.25 6.25 0 0 1 0 8.834"/></svg>
                </span>
                <span class="hide-menu text-white">Edit Marquee </span>
              </a>
            </li>
            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6" class="fs-6"></iconify-icon>
              <span class="hide-menu text-white">Matters</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/registration/all" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19.39 10.74L11 19.13V22H6c-1.11 0-2-.89-2-2V4a2 2 0 0 1 2-2h1v7l2.5-1.5L12 9V2h6a2 2 0 0 1 2 2v6.3c-.22.12-.43.26-.61.44M13 19.96V22h2.04l6.13-6.12l-2.04-2.05zm9.85-6.49l-1.32-1.32c-.2-.2-.53-.2-.72 0l-.98.98l2.04 2.04l.98-.98c.2-.19.2-.52 0-.72"/></svg>
                </span>
                <span class="hide-menu text-white">Registration Matter  </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/premium/all" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.041 11.14c.142 0 .276.057.38.163l1.276 1.276a.54.54 0 0 1 0 .77l-1 1l-2.046-2.046l1-1a.57.57 0 0 1 .39-.163m-1.978 1.74l2.046 2.052L15.063 21H13v-2.063zM12 5.688l-5 4.5V18h4v2H5v-8H2l10-9l7.459 6.713L17 12.172v-1.984z"/></svg>
                </span>
                <span class="hide-menu text-white">Premium Matter  </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/steps/" aria-expanded="false">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 72 72"><path fill="#61b2e4" d="M22.727 50.64h3.766l-2.441 6.975h3.956l2.441-6.975h3.766l-2.441 6.975h3.956l2.441-6.575h.818l-.836-19.11h-3.869a4.63 4.63 0 0 1-4.182 2.02a5.7 5.7 0 0 1-4.488-2.02h-4.085L19.89 57.2l.429.064z"/><path fill="#fcea2b" d="M35.337 38.64s-.353 4.586-2.94 4.586c-2.47 0-2.94-4.586-2.94-4.586c1.882-1.529 4.822-1.176 5.88 0"/><path fill="#61b2e4" stroke="#61b2e4" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" stroke-width="2" d="M25.227 20.75h10.35v-1.8l1.33-1.23l-.1-2.75l-10.7 1.89l-.88 1.71z"/><g fill="#fcea2b" stroke="#fcea2b" stroke-width="2"><path stroke-linecap="square" d="M34.68 22.73v1.485c-.44 5.578-8.612 5.578-9.051 0c.001-.823.004-.663 0-1.485z"/><path stroke-linecap="round" stroke-linejoin="bevel" d="M38.15 31.93h19.59c.636-.04 1.191.43 1.256 1.063c0 1.74-1.741 4.157-3.674 4.254l-16.85 1.002z"/><path d="m20.86 41.12l-2.8 12.75a2.836 2.836 0 0 1-3.039 2.439c-1.42 0-2.221-1.822-1.988-3.309l2.691-15.13c.67-3.949 2.23-5.932 5.802-5.932"/></g><g fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"><path stroke-miterlimit="10" d="M40.28 31.93h17.47a1.19 1.19 0 0 1 1.256 1.063c0 1.74-1.741 4.157-3.674 4.254l-12.98.774M15.03 56.3c-1.42 0-2.221-1.822-1.988-3.309l2.691-15.13c.67-3.949 2.275-5.932 5.802-5.932"/><path stroke-linejoin="round" d="m20.61 47.31l.918-15.38h4.085a5.73 5.73 0 0 0 4.554 2.02m.713-13.21h4.7m3.707.474l-3.71-.47v-1.8l1.33-1.23l-.1-2.75l-10.7 1.89l-.88 1.71v2.18m15.25 11.18h-2.32l.66 15.25M22.42 51.09l-1.93 5.54m9.64-5.54l-1.93 5.54m9.77-5.54l-1.96 5.54"/><path stroke-miterlimit="10" d="M25.63 24.21a4.54 4.54 0 0 0 9.051 0"/></g></svg>
                  </span>
                <span class="hide-menu text-white">Instructions</span>
              </a>
            </li>
          </ul>
          <!-- <div class="unlimited-access hide-menu bg-primary-subtle position-relative mb-7 mt-7 rounded-3"> 
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-75">Upgrade to pro</h6>
                <a href="#" target="_blank"
                  class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
              </div>
              <div class="unlimited-access-img">
                <img src="/Admin/assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
              </div>
            </div>
          </div> -->
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
 
    <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header" style="background-color:  rgba(0, 0, 0, 0.74); backdrop-filter: blur(15px); ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            
            <a href="#" target="_blank"
              class="btn btn-success"><span class="d-none d-md-block">   </span> <span class="d-block d-md-none"></span></a>
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="/Admin/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                  
                  <a href="/admin/auth/logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
